:root {
    font-family: Roboto, 'sans-serif';

    --accent: rgb(51, 173, 230);
}


body {
    background-color: rgb(20,20,20);
    color: whitesmoke;
    margin: 0;
}

h3 {
    text-align: center;
}

.page-wrapper {
    display: grid;
    grid-template-rows: 25% 50% 25%;
    height: 100vh;
}

.team-card-container {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.team-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 75px;
    height: 75px;

    background-color: var(--accent);

    border-radius: 5px;

    box-shadow: 0 0 7px 1px rgba(0,0,0,.5);

    font-weight: 500;
    cursor: pointer;
}
.team-card:not(.active) {
    opacity: .6;
}
.question-selection-buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.question-selection-button {
    padding: 10px 15px;
    background-color: var(--accent);

    border-radius: 5px;
    box-shadow: 0 0 7px 0 rgba(0,0,0,.5);
    cursor: pointer;

    height:fit-content;

    font-weight: 500;
}

.question-selection-button:hover {
    opacity: .9;
}

.answers-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin: 50px;
    padding: 0;

    list-style-type: none;

    gap: 20px;
}

.answer-card {
    display: flex;
    justify-content: space-between;

    width: 80%;

    cursor: pointer;
    background-color: rgb(25,25,25);
    padding: 10px 10px;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
}
.answer-card:not(.visible) {
    opacity: .5;
}

.answer-card__value {
    color: var(--accent);
}

